<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobiledevproject">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/compus_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/compus_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileDevProject.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GPSArrivalActivity"
            android:exported="true" />
        <activity
            android:name=".WhereFromActivity"
            android:exported="false" />
    </application>

</manifest>